.scrollbar-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.scrollbar-content {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: auto;
  margin-right: 0px;
}

.fave-unfave-icon, .edit-desc-icon {
  padding: 0 0 0 .5em;
  font-size: 14px;
}

.checkbox {
    float: left;
    margin-top: 0px;
    margin-right: 3px;
}

.control-panel-section {
  margin-bottom: 0px;
  box-shadow: none;
}

.background-transparent {
  background-color: transparent !important;
}
.viztype-selector-container {
    float: left;
    border: 1px solid #ccc;
    cursor: pointer;
    position:relative;
    margin: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
}
.viztype-selector-container:hover {
  border: 1px solid black;
}
.viztype-label {
  text-align: center;
  position: absolute;
  left: 0;
  top: 70;
  width: 100%;
}

.viztype-label span {
  background-color:rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 12px;
  display:inline-block;
}
.l-m-5 {
  margin-left: 5px !important;
}
.l-m-2 {
  margin-left: 1px !important;
}
.viztype-selector-container.selected {
  border: 1px solid #00A699;
  cursor: not-allowed !important;
  box-shadow: none;
}
