.scrollbar-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.scrollbar-content {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: auto;
  margin-right: 0px;
  margin-bottom: 40px;
}

.fave-unfave-icon, .edit-desc-icon {
  padding: 0 0 0 .5em;
  font-size: 14px;
}

.checkbox {
    float: left;
    margin-top: 0px;
    margin-right: 3px;
}

.control-panel-section {
  margin-bottom: 0px;
  box-shadow: none;
}

.background-transparent {
  background-color: transparent !important;
}

.viztype-label {
  text-align: center;
}

.viztype-selector-container {
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #aaa;
}

.viztype-selector-container:hover {
  border: 1px solid #000;
}

.viztype-selector-container.selected {
  cursor: not-allowed;
  opacity: 0.5;
}
.viztype-selector-container.selected {
  cursor: not-allowed;
  border: 1px solid #aaa;
}

.color-scheme-container {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.color-scheme-container li {
  flex-basis: 9px;
  height: 10px;
  margin: 9px 1px;
}
.control-panel-section .panel-body {
  margin-left: 15px;
  padding-bottom: 0px;
}
.control-panel-section .control-label {
  margin-bottom: 0px;
}
.fa.expander {
  width: 15px;
}
.control-panel-section span.label {
  display: inline-block;
}
.input-inline {
  float: left;
  display: inline-block;
  padding-right: 3px;
}
.input-inline .Select-control {
  display: flex;
}
.input-inline .Select-control .Select-arrow-zone {
  width: auto;
  position: absolute;
  right: 0;
  top: 12px;
}
