.dashboard-builder-sidepane {
  background: white;
  flex: 0 0 376px;
  border: 1px solid @gray-light;
  z-index: 10;
  position: relative;

  .dashboard-builder-sidepane-header {
    font-size: 15px;
    font-weight: 700;
    border-bottom: 1px solid @gray-light;
    padding: 14px;
  }

  .trigger {
    height: 25px;
    width: 25px;
    color: @gray;
    position: relative;

    &.close {
      top: 3px;
    }

    &.open {
      position: absolute;
      right: 14px;
    }
  }

  .component-layer {
    .new-component.static {
      cursor: pointer;
    }
  }

  .slices-layer {
    position: absolute;
    width: 2px;
    top: 51px;
    right: 0;
    background: white;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease;
    overflow: hidden;

    &.show {
      width: 374px;
    }
  }

  .chart-card-container {
    padding: 16px;

    .chart-card {
      border: 1px solid @gray-light;
      height: 120px;
      padding: 16px;
      cursor: move;
    }

    .chart-card.is-selected {
      opacity: 0.45;
      cursor: not-allowed;
    }

    .card-title {
      margin-bottom: 8px;
      font-weight: bold;
    }

    .card-body {
      display: flex;
      flex-direction: column;

      .item {
        height: 18px;
      }

      label {
        margin-right: 5px;
      }
    }
  }

  .slice-adder-container {
    .controls {
      display: flex;
      padding: 16px;

      .dropdown.btn-group button,
      input {
        font-size: 14px;
        line-height: 16px;
        padding: 7px 12px;
        height: 32px;
      }

      input {
        margin-left: 16px;
        width: 169px;
        border: 1px solid @gray;

        &:focus {
          outline: none;
        }
      }
    }

    .ReactVirtualized__Grid.ReactVirtualized__List:focus {
      outline: none;
    }
  }
}
