.grid-container {
  min-height: 100%;
  position: relative;
  margin: 24px;
  /* without this, the grid will not get smaller upon toggling the builder panel on */
  min-width: 0;
  width: 100%;
}

/* A bit more space for hover menus */
.dashboard--editing .grid-container {
  margin: 24px 28px;
}

/* this is the ParentSize wrapper  */
.grid-container > div:first-child {
  height: inherit !important;
}

.grid-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

/* gutters between rows */
.grid-content
  > div:not(:only-child):not(:last-child):not(.empty-grid-droptarget--bottom):not(.empty-grid-droptarget--top) {
  margin-bottom: 16px;
}

.grid-content > .empty-grid-droptarget--top {
  height: 24px;
  margin-top: -24px;
}
.empty-grid-droptarget--bottom {
  width: 100%;
  height: 100%;
}

/* Editing guides */
.grid-column-guide {
  position: absolute;
  top: 0;
  min-height: 100%;
  background-color: rgba(68, 192, 255, 0.05);
  pointer-events: none;
  box-shadow: inset 0 0 0 1px rgba(68, 192, 255, 0.5);
}

.grid-row-guide {
  position: absolute;
  left: 0;
  bottom: 2;
  height: 2;
  background-color: @indicator-color;
  pointer-events: none;
  z-index: 10;
}
