@indicator-color: #44C0FF;

@almost-black: #263238;
@gray-dark: #484848;
@gray: #879399;
@gray-light: #CFD8DC;
@gray-bg: #f5f5f5;
@menu-hover: #F2F3F5;

/* builder component pane */
@builder-pane-width: 374px;

/* toasts */
@pink: #E32364;
@purple: #2C2261;

@success: #00BFA5;
@warning: #FFAB00;
@danger: @pink;
