.dashboard a i {
  cursor: pointer;
}
.dashboard i.drag {
  cursor: move !important;
}
.dashboard .slice-grid .preview-holder {
  z-index: 1;
  position: absolute;
  background-color: #AAA;
  border-color: #AAA;
  opacity: 0.3;
}
div.widget .chart-controls {
  background-clip: content-box;
  position: absolute;
  z-index: 100;
  right: 0;
  left: 0;
  top: 5px;
  padding: 5px 5px;
  opacity: 0.75;
  display: none;
}
.slice-grid div.widget {
  border-radius: 0;
  border: 0px;
  box-shadow: none;
  background-color: #fff;
  overflow: visible;
}

.dashboard .slice-grid .dragging,
.dashboard .slice-grid .resizing {
  opacity: 0.5;
}
.dashboard img.loading {
  width: 20px;
  margin: 5px;
  position: absolute;
}

.dashboard .slice_title {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  padding: 5px;
}
.dashboard div.slice_content {
  width: 100%;
  height: 100%;
}

.modal img.loading {
  width: 50px;
  margin: 0;
  position: relative;
}

.react-bs-container-body {
  max-height: 400px;
  overflow-y: auto;
}

.hidden, #pageDropDown {
  display: none;
}

.slice-grid div.separator.widget {
 border: 1px solid transparent;
  box-shadow: none;
  z-index: 1;
}
.slice-grid div.separator.widget:hover {
  border: 1px solid #EEE;
}
.slice-grid div.separator.widget .chart-header {
  background-color: transparent;
  color: transparent;
}
.slice-grid div.separator.widget h1,h2,h3,h4 {
  margin-top: 0px;
}

.slice-cell {
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,0);
  transition: box-shadow 1s ease-in;
}

.slice-cell-highlight {
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);
}

.dashboard .separator.widget .slice_container {
  padding: 0px;
  overflow: visible;
}
.dashboard .separator.widget .slice_container hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
.separator .chart-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.dashboard .title {
  margin: 0 20px;
}

.dashboard .title .favstar {
  font-size: 20px;
}

.chart-header .header {
  font-size: 16px;
}
.ace_gutter {
    z-index: 0;
}
.ace_content {
    z-index: 0;
}
.ace_scrollbar {
    z-index: 0;
}
.slice_container .alert {
    margin: 10px;
}
