@import "./less/cosmo/variables.less";

.dashboard .chart-header {
  position: relative;

  .dropdown.btn-group {
    position: absolute;
    right: 16px;
  }

  .dropdown-menu.dropdown-menu-right {
    right: 7px;
    top: -3px
  }
}

.slice-header-controls-trigger {
  border: 0;
  padding: 0 0 0 20px;
  background: none;
  outline: none;
  box-shadow: none;
  color: #263238;

  &.is-cached {
    color: red;
  }

  &:hover, &:focus {
    background: none;
    cursor: pointer;
  }

  .controls-container.dropdown-menu {
    top: 0;
    left: unset;
    right: 10px;

    &.is-open {
      display: block;
    }

    & li {
      white-space: nowrap;
    }
  }
}
.slice-grid .slice_container {
  background-color: #fff;
}

.modal img.loading {
  width: 50px;
  margin: 0;
  position: relative;
}

.react-bs-container-body {
  max-height: 400px;
  overflow-y: auto;
}

.hidden, #pageDropDown {
  display: none;
}

.dashboard .separator.widget .slice_container {
  padding: 0;
  overflow: visible;
}
.dashboard .separator.widget .slice_container hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.separator .chart-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.dashboard .title {
  margin: 0 20px;
}

.dashboard .title .favstar {
  font-size: 20px;
  position: relative;
  top: -5px;
}

.ace_gutter {
    z-index: 0;
}
.ace_content {
    z-index: 0;
}
.ace_scrollbar {
    z-index: 0;
}
.slice_container .alert {
    margin: 10px;
}

i.danger {
  color: red;
}

i.warning {
  color: orange;
}

.dashboard-builder-sidepane {
  .trigger {
    height: 25px;
    width: 25px;
    color: #879399;
    position: relative;

    &.close {
      top: 3px;
    }

    &.open {
      position: absolute;
      right: 14px;
    }
  }
}

.component-layer {
  .new-component.static {
    cursor: pointer;
  }
}

.slices-layer {
  position: absolute;
  width: 2px;
  top: 51px;
  right: 1px;
  background: #fff;
  transition-property: width;
  transition-duration: 1s;
  transition-timing-function: ease;
  overflow: hidden;

  &.show {
    width: 374px;
  }
}

.dashboard .chart-card-container {
  padding: 16px;
  cursor: move;

  .chart-card {
    border: 1px solid #ccc;
    height: 120px;
    padding: 16px;
    pointer-events: unset;
  }

  .chart-card.is-selected {
    opacity: 0.45;
    pointer-events: none;
  }

  .card-title {
    margin-bottom: 8px;
    font-weight: bold;
  }

  .card-body {
    display: flex;
    flex-direction: column;

    .item {
      height: 18px;
    }

    label {
      margin-right: 5px;
    }
  }
}

.dashboard .slice-adder-container {
  .controls {
    display: flex;
    padding: 16px;

    .dropdown.btn-group button,
    input {
      font-size: 14px;
      line-height: 16px;
      padding: 7px 12px;
      height: 32px;
    }

    input {
      margin-left: 16px;
      width: 169px;
      border: 1px solid #b3b3b3;

      &:focus {
        outline: none;
      }
    }
  }

  .ReactVirtualized__Grid.ReactVirtualized__List:focus {
    outline: none;
  }
}
