/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@import "../stylesheets/less/variables.less";

.topsql {
  height: 250px;
}
.dataTables_filter {
  padding-top: 5px;
  padding-right: 5px;
}
.bordered {
  padding: 0px 0px;
  border: 1px solid @gray;
  border-radius: 5px;
  background-color: @gray-bg;
}
div.alert {
  padding: 5px;
  margin: 0px;
}
.metadata {
  overflow: auto;
  width: 300px;
  height: 100px;
}
.fillup {
  width: 100%;
  height: 100%;
}
.fillheight {
  height: 100%;
}
.interactions {
  padding-bottom: 10px;
}
#results {
  overflow: auto;
  font-size: 12px;
  margin-bottom: 5px;
}
table tbody tr td {
  padding: 1px 4px;
  font-size: small;
}
