/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@import "../stylesheets/less/variables.less";

.table i {
  padding-top: 6px;
}

img.loading {
  width: 25px;
}

.welcome table {
    display: none;
    width: 100%;
}

input {
    margin-left: 5px;
    margin-top: 8px;
}

.panel-body {
    overflow: auto;
}

.cal-heatmap-panel {
  padding: 20px;
  background-color: @lightest;
}
.search input {
  width: 400px;
}
.search-container .fa-search {
  float: left;
  margin-left: -25px;
  margin-top: 12px;
  font-size: 18px;
}
