{
  "plugins": ["jest", "no-only-tests"],
  "env": {
    "jest/globals": true
  },
  "extends": ["plugin:jest/recommended"],
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "jest/consistent-test-it": "error",
    "no-only-tests/no-only-tests": "error"
  }
}
