html,
body,
#root {
  height: 100%;
  font-family:
    BlinkMacSystemFont,
    Roboto,
    Helvetica Neue,
    sans-serif;
  font-weight: 200;
  color: #484848;
}
#root > div {
  padding: 8px;
}

code {
  background: none;
}
