# Required Parameter
SUPERSET_ENV=development
AWS_PROFILE=peak-dev
AWS_REGION=eu-west-1
STAGE=latest
SUPERSET_ENV=development
TENANT=
NO_OF_WORKERS=5
COMMON_CONFIG_DATA_BUCKET='ais-latest-config-data'
REDIS_ENDPOINT=
SQLALCHEMY_DATABASE_URI=

# Optional Parameter
# These will create role in DB
ADMIN_EMAIL=
ADMIN_PASSWORD=
GUEST_EMAIL=
GUEST_PASSWORD=
PEAK_USER_EMAIL=
PEAK_USER_PASSWORD=
PEAK_ADMIN_EMAIL=
PEAK_ADMIN_PASSWORD=
