*.pyc
babel
.DS_Store
.coverage
_build
_static
caravel/bin/caravelc
envpy3
build
*.db
tmp
caravel_config.py
local_config.py
env
dist
caravel.egg-info/
app.db
*.bak

# Node.js, webpack artifacts
*.entry.js
*.js.map
node_modules
npm-debug.log
