*.pyc
changelog.sh
panoramix
caravel
superset
babel
.DS_Store
.coverage
_build
build
*.db
tmp
dashed_config.py
caravel_config.py
superset_config.py
local_config.py
env
dist
dashed.egg-info/
caravel.egg-info/
superset.egg-info/
env_py3
.eggs
dashed/
docs/
app.db
*.bak

# Node.js, webpack artifacts
*.entry.js
*.js.map
node_modules
npm-debug.log
