docker/**/*.sh text eol=lf
*.mp4 filter=lfs diff=lfs merge=lfs -text
RELEASING/**/*.jpg filter=lfs diff=lfs merge=lfs -text
RELEASING/**/*.png filter=lfs diff=lfs merge=lfs -text
RELEASING/**/*.gif filter=lfs diff=lfs merge=lfs -text
docs/static/img/**/*.jpg filter=lfs diff=lfs merge=lfs -text
docs/static/img/**/*.png filter=lfs diff=lfs merge=lfs -text
docs/static/img/**/*.gif filter=lfs diff=lfs merge=lfs -text
