language: python
python:
  - 2.7
  - 3.6
services:
  - mysql
  - postgres
  - redis-server
cache:
  - pip
matrix:
  include:
    - python: 2.7
      env: TOXENV=flake8
    - python: 2.7
      env: TOXENV=py27-mysql
    - python: 2.7
      env: TOXENV=py27-sqlite
    - python: 2.7
      env: TOXENV=pylint
    - python: 3.6
      env: TOXENV=flake8
    - python: 3.6
      env: TOXENV=javascript
    - python: 3.6
      env: TOXENV=py36-postgres
    - python: 3.6
      env: TOXENV=py36-sqlite
    - python: 3.6
      env: TOXENV=pylint
  exclude:
    - python: 2.7
    - python: 3.6
before_script:
  - mysql -u root -e "DROP DATABASE IF EXISTS superset; CREATE DATABASE superset DEFAULT CHARACTER SET utf8 COLLATE utf8_unicode_ci"
  - mysql -u root -e "CREATE USER 'mysqluser'@'localhost' IDENTIFIED BY 'mysqluserpassword';"
  - mysql -u root -e "GRANT ALL ON superset.* TO 'mysqluser'@'localhost';"
  - psql -U postgres -c "CREATE DATABASE superset;"
  - psql -U postgres -c "CREATE USER postgresuser WITH PASSWORD 'pguserpassword';"
install:
  - pip install --upgrade pip
  - pip install codecov tox
script:
  - tox
after_success:
  - codecov
