alembic~=0.7
coverage
coveralls
flask==0.10.1
flask-appbuilder~=1.4.5
flask-login===0.2.11
flask-migrate~=1.5.1
flask-script~=2.0.5
flask-testing~=0.4.2
gunicorn~=19.3.0
markdown~=2.6.2
mysql-python
nose
numpy~=1.10
pandas==0.16.2
parsedatetime~=1.5
pydruid~=0.2.2
pyhive
python-dateutil~=2.4.2
requests~=2.7.0
sqlparse~=0.1.16
