coverage/*
cypress/screenshots
cypress/videos
playwright/.auth
playwright-report/
test-results/
src/temp
.temp_cache/
.tsbuildinfo
.swc/
**/esm/*
**/lib/*
**/storybook-static/*
migration-storybook.log
# Turborepo cache
.turbo
