{
  "id": "{{ id }}",
  "name": "{{ name }}",
  "version": "{{ version }}",
  "license": "{{ license }}",
  {% if include_frontend -%}
  "frontend": {
    "contributions": {
      "commands": [],
      "views": [],
      "menus": []
    },
    "moduleFederation": {
      "exposes": ["./index"]
    }
  },
  {% endif -%}
  {% if include_backend -%}
  "backend": {
    "entryPoints": ["{{ id }}.entrypoint"],
    "files": ["backend/src/{{ id }}/**/*.py"]
  },
  {% endif -%}
  "permissions": []
}
