g.superset path {
   stroke-dasharray: 5, 5;
}

.nvtooltip tr.highlight td {
  font-weight: bold;
  font-size: 15px !important;
}

text.nv-axislabel {
  font-size: 14px;
}

.slice_container.dist_bar {
  overflow-x: auto !important;
}

.dist_bar svg.nvd3-svg {
  width: auto;
  font-size: 14px;
}

.nv-x text{
  font-size: 12px;
}

.bar {
  overflow-x: auto !important;
}

.bar svg.nvd3-svg {
  width: auto;
}

text.nv-axislabel {
  font-size: 14px !important;
}
