.slice-grid .widget.table .slice_container {
    overflow: auto !important;
}

.widget.table table {
    margin: 0px !important;
}

.widget.table td.filtered {
    background-color: #005a63;
    color: white;
}

.widget.table tr>th {
    padding: 1px 5px !important;
    font-size: small !important;
}

.widget.table tr>td {
    padding: 1px 5px !important;
    font-size: small !important;
}
table.table thead th.sorting:after, table.table thead th.sorting_asc:after, table.table thead th.sorting_desc:after {
    top: 0px;
}

.like-pre {
  white-space: pre-wrap;
}

.dataTables_length {
  display: inline-block;
  padding: 4px 10px;
  border: 1px;
  margin: 0px;
}

.buttons-html5 {
  padding: 4px 10px;
}

.dt-buttons {
  margin: 0px;
}

.dataTables_filter {
  margin: 4px;
}

.table-header {
  height: 10%;
}

.table-body {
  height: 80%;
}

.table-data {
  height: 100%;
}

.table-footer {
  height: 10%;
}

.dataTables_wrapper {
  height: 100%;
}
