{% set menu = appbuilder.menu %}
{% set languages = appbuilder.languages %}
{% set WARNING_MSG = appbuilder.app.config.get('WARNING_MSG') %}

<div class="navbar navbar-static-top {{menu.extra_classes}}" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/superset/profile/{{ current_user.username }}/">
        <img
          width="126"
          src="{{ appbuilder.app_icon }}"
          alt="{{ appbuilder.app_name }}"
        />
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% if WARNING_MSG %}
          <li class="alert alert-danger">
            {{ WARNING_MSG | safe }}
          </li>
        {% endif %}
        {% include 'appbuilder/navbar_menu.html' %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% include 'appbuilder/navbar_right.html' %}
      </ul>
    </div>
  </div>
</div>
