<?xml version="1.0" encoding="UTF-8"?>
<suite name="Superset Automation suite" verbose="1">

	<listeners>
		<listener class-name="com.rvf.qa.ExtentReportListener.ExtentReportNG" />
	</listeners>
	
	<test name="Superset suite 1">
		<classes>
			<class name="com.rvf.qa.testcases.LoginPageTest" />
			<class name="com.rvf.qa.testcases.HomePageTest" />
			<class name="com.rvf.qa.testcases.ChartsListPageTest" />
			<class name="com.rvf.qa.testcases.CreateNewChartPageTest" />
			<class name="com.rvf.qa.testcases.ExploreChartPageTest" />
		</classes>
	</test>
</suite>