{
  "presets" : ["airbnb", "@babel/preset-react", "@babel/preset-env"],
  "plugins": ["lodash", "syntax-dynamic-import", "react-hot-loader/babel"],
  "env": {
    "test": {
      "plugins": [
        "babel-plugin-dynamic-import-node"
      ]
    }
  }
}
