div.legend {
    font-size: 90%;
    position: absolute;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    margin: 24px;
    padding: 12px 24px;
    outline: none;
    overflow-y: scroll;
    max-height: 200px;
}

ul.categories {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

ul.categories li a {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
