.partition {
  position: relative;
}

.partition .chart {
  display: block;
  margin: auto;
  font-size: 11px;
}

.partition rect {
  stroke: #eee;
  fill: #aaa;
  fill-opacity: .8;
  transition: fill-opacity 180ms linear;
  cursor: pointer;
}

.partition rect:hover {
  fill-opacity: 1;
}

.partition g text {
  font-weight: bold;
  fill: rgba(0, 0, 0, 0.8);
}

.partition g:hover text {
  fill: rgba(0, 0, 0, 1);
}

.partition .partition-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  padding: 5px;
  pointer-events: none;
  background-color: rgba(255,255,255, 0.75);
  border-radius: 5px;
}

.partition-tooltip td {
  padding-left: 5px;
  font-size: 11px;
}
