.rose path {
  transition: fill-opacity 180ms linear;
  stroke: #fff;
  stroke-width: 1px;
  stroke-opacity: 1;
  fill-opacity: 0.75;
}

.rose text {
  font: 400 12px Arial, sans-serif;
  pointer-events: none;
}

.rose .clickable path {
  cursor: pointer;
}

.rose .hover path {
  fill-opacity: 1;
}

.nv-legend .nv-series {
  cursor: pointer;
}
