.slice_container.table table.table {
  margin: 0px !important;
  background: transparent;
  background-color: white;
}

table.table thead th.sorting:after, table.table thead th.sorting_asc:after, table.table thead th.sorting_desc:after {
  top: 0px;
}

.like-pre {
  white-space: pre-wrap;
}
