authlib==1.3.2
elasticsearch-dbapi==0.2.11
impyla==0.19.0
mysqlclient==2.1.0
psycopg2==2.9.10
pyhive==0.7.0
trino==0.330.0
pillow==11.1.0
psycogreen==1.0.2
pydantic==2.10.6
google-genai==1.7.0
flask-cors