{% extends "appbuilder/general/model/edit.html" %}

{% block content %}
    {{ super() }}
    <div class="modal fade" id="json_gen_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content css">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">JSON Generator</h4>
                    <p>Enter the algebraic expression to convert. For example: <br>
                        <strong>Normal metrics</strong>: longSum(price), doubleMin(price)<br>
                        <strong>Post Aggregation</strong>: (price/count)*100<br>
                    </p>
                </div>
                <div class="modal-body">
                    <textarea id="expression" rows="5" cols="60"></textarea>
                    <div class="alert alert-danger hidden" id="errorMsg"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-default" id="convertButton">
                        Convert to Json
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script src="/static/assets/javascripts/dist/datasource.entry.js"></script>
{% endblock %}
