/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/************************************************************************/
/* COLORS                                                               */
/************************************************************************/

@primary-color: #20A7C9;
@indicator-color: @primary-color;

@brand-primary-dark1: #1A85A0;
@brand-primary-dark2: #156378;
@brand-primary-light1: #79CADE;
@brand-primary-light2: #A5DAE9;
@brand-primary-light3: #D2EDF4;
@brand-primary-light4: #E9F6F9;
@brand-primary-light5: #F3F8FA;

@brand-secondary: #444E7C;
@brand-secondary-dark1: #363E63;
@brand-secondary-dark2: #282E4A;
@brand-secondary-dark3: #1B1F31;
@brand-secondary-light1: #8E94B0;
@brand-secondary-light2: #B4B8CA;
@brand-secondary-light3: #D9DBE4;
@brand-secondary-light4: #ECEEF2;
@brand-secondary-light5: #F5F5F8;

@almost-black: #080808;
@gray-dark: #080808;
@gray-light: #F0F0F0;
@gray-light5: #666666;
@gray: #879399;
@gray-bg: #1B1F31;
@gray-heading: #737373;
@darkest: #000;
@lightest: #FFF;
@menu-hover: #FFFFFF;

/**************************** text-specific *****************************/
@link: #66BCFE;
@link-hover: #4D8CBE;

/***************************** status colors ****************************/
@info: #66BCFE;
@info-dark1: #4D8CBE;
@info-dark2: #315E7E;
@info-light1: #B3DEFE;
@info-light2: #EFF8FE;

@danger: #E04355;
@danger-dark1: #A7323F;
@danger-dark2: #6F212A;
@danger-light1: #EFA1AA;
@danger-light2: #FAEDEE;

@success: #5AC189;
@success-dark1: #439066;
@success-dark2: #2B6144;
@success-light1: #ACE1C4;
@success-light2: #EEF8F3;

@warning: #FF7F44;
@warning-dark1: #BF5E33;
@warning-dark2: #7F3F21;
@warning-light1: #FEC0A1;
@warning-light2: #FFF2EC;

/************************************************************************/
/* OPACITIES                                                            */
/************************************************************************/
@opacity-light: 10%;
@opacity-medium-light: 35%;
@opacity-medium-heavy: 60%;
@opacity-heavy: 80%;

/************************************************************************/
/* TYPOGRAPHY                                                           */
/************************************************************************/
@font-weight-light: 200;
@font-weight-normal: 400;
@font-weight-bold: 600;

@font-size-xxs: 9px;
@font-size-xs: 10px;
@font-size-s: 12px;
@font-size-m: 14px;
@font-size-l: 16px;
@font-size-xl: 21px;
@font-size-xxl: 28px;

@font-family-sans-serif: 'Inter', Helvetica, Arial;
@font-family-serif: Georgia, 'Times New Roman', Times, serif;
@font-family-monospace: 'Fira Code', 'Courier New', monospace;
@font-family-base: @font-family-sans-serif;
@line-height-tight: 1;

/************************************************************************/
/* TRANSITIONS                                                          */
/************************************************************************/
@timing-normal: 0.3s;

/************************************************************************/
/* BORDER RADII                                                         */
/************************************************************************/
@border-radius-normal: 4px;
@border-radius-large: (4 * 2)px;

/************************************************************************/
/* GRID UNITS                                                           */
/************************************************************************/
@grid-unit: 4px;

/************************************************************************/
/* Z-INDEX                                                              */
/************************************************************************/
@z-index-max: 3000;
@z-index-dropdown: 11;
@z-index-above-dashboard-charts: 10;

/************************************************************************/
/* LEGACY IMPORTS                                                       */
/************************************************************************/
@import '../less/cosmo/variables.less';
