/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.filedropper-container {
  width: 100%;
  min-width: 200px;
  min-height: 50px;
  flex-direction: column;
  align-items: center;
  border: dashed 1px black;
  border-radius: 6px;
  border-color: #ccc;
  padding: 10px;
  font-size: 14px;
}

.is-visible {
  display: flex;
}

.is-not-visible {
  display: none;
}

.filedropper-background {
  background-color: #f4f4f4;
}

.filedropper-background-hover {
  background-color: #fafafa;
}

.filedropper-title {
  font-weight: 700;
  opacity: 0.5;
}

.filedropper-separatortext {
  font-weight: 700;
  opacity: 0.4;
}

.filedropper-file {
  font-weight: 700;
  opacity: 0.5;
  margin-top: 5px;
}