.dashboard a i {
  cursor: pointer;
}
.dashboard i.drag {
  cursor: move !important;
}
.dashboard .slice-grid .preview-holder {
  z-index: 1;
  position: absolute;
  background-color: #AAA;
  border-color: #AAA;
  opacity: 0.3;
}

.slice-grid div.widget{
  border-radius: 0;
  border: 1px solid #ccc;
  box-shadow: 2px 1px 5px -2px #aaa;
  background-color: #fff;
}
.dashboard .slice-grid .dragging,
.dashboard .slice-grid .resizing {
  opacity: 0.5;
}
.dashboard img.loading {
  width: 20px;
  margin: 5px;
  position: absolute;
}
.dashboard .title {
  text-align: center;
}
.dashboard .slice_title {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  padding: 5px;
}
.dashboard div.slice_content {
  width: 100%;
  height: 100%;
}

.dashboard  div.nvtooltip {
  z-index: 888;  /* this lets tool tips go on top of other slices  */
}

.modal img.loading {
  width: 50px;
  margin: 0;
  position: relative;
}

.react-bs-container-body {
  max-height: 400px;
  overflow-y: auto;
}

.hidden, #pageDropDown {
  display: none;
}
