.scrollbar-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.scrollbar-content {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: auto;
  margin-right: 0px;
}

.fave-unfave-icon, .edit-desc-icon {
  padding: 0 0 0 .5em;
  font-size: 14px;
}
