/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@import '../../../stylesheets/less/variables.less';

.ReactVirtualized__Grid__innerScrollContainer {
  border: 1px solid;
}
.ReactVirtualized__Table__headerRow {
  font-weight: @font-weight-bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid @gray-light;
}
.ReactVirtualized__Table__row {
  display: flex;
  flex-direction: row;
}
.ReactVirtualized__Table__headerTruncatedText,
.grid-header-cell {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ReactVirtualized__Table__headerColumn,
.ReactVirtualized__Table__rowColumn,
.grid-cell {
  min-width: 0px;
  border-right: 1px solid @gray-light;
  align-self: center;
  padding: 12px;
  font-size: @font-size-s;
}
.grid-header-cell {
  font-weight: @font-weight-bold;
}
.ReactVirtualized__Table__headerColumn:last-of-type,
.ReactVirtualized__Table__rowColumn:last-of-type {
  border-right: 0px;
}
.ReactVirtualized__Table__headerColumn:focus,
.ReactVirtualized__Table__Grid:focus {
  outline: none;
}
.ReactVirtualized__Table__rowColumn {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ReactVirtualized__Table__sortableHeaderColumn {
  cursor: pointer;
}
.ReactVirtualized__Table__sortableHeaderIconContainer {
  display: flex;
  align-items: center;
}
.ReactVirtualized__Table__sortableHeaderIcon {
  flex: 0 0 24px;
  height: 1em;
  width: 1em;
  fill: currentColor;
}
.even-row {
  background: @gray-bg;
}
.odd-row {
  background: @lightest;
}
.header-style {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.header-style-disabled {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: @gray-heading;
}
.cell-text-for-measuring {
  font-family: Helvetica, Arial, sans-serif;
  font-size: @font-size-s;
}
