div.widget .slice_container {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    overflow: hidden;
}

div.widget .slice_container:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.slice_container div {
    padding-top: 0px;
}