#sidebar {
  float: right;
  width: 100px;
}

text.middle{
    text-anchor: middle;
}

#sequence {
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

.sunburst #chart {
  height: 100%;
}

.sunburst div.token {
  height: 100%;
}

.sunburst path {
  stroke: #fff;
}

.sunburst #percentage {
  font-size: 2.5em;
}

