/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@import '../../../../stylesheets/less/variables.less';

.viztype-label {
  margin-top: 10px;
  text-align: center;
  font-size: @font-size-m;
}

.viztype-selector-container {
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

.viztype-selector-container:hover img {
  border: 1px solid @gray-heading;
}

.viztype-selector-container.selected {
  cursor: not-allowed;
  opacity: 1;
}

.viztype-selector-container.selected img {
  border: 1px solid @almost-black;
}

.viztype-selector-container img {
  border: 1px solid @gray-light;
  border-radius: @border-radius-large;
  transition: border-color @timing-normal;
}

.viztype-control-search-box {
  margin-bottom: 10px;
}
