/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
.card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(60,64,67,.16), 0 1px 3px 1px rgba(60,64,67,.25);
  overflow: hidden;
  transition: box-shadow 0.5s ease-in-out;
}
.card:hover {
  box-shadow: 0 2px 2px 0 rgba(60,64,67,.30), 0 2px 4px 2px rgba(60,64,67,.55);
}
.card-header {
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0px;
}
.card-body {
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.card-body .text-muted{
  color: #888;
}

.card-header .fa {
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.card img {
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}
.card-title {
  white-space: nowrap;
  width: 100px;
}
