.dashboard-markdown {
  overflow: hidden;

  .dashboard-component-chart-holder {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .dashboard--editing & {
    cursor: move;
  }

  #brace-editor {
    border: none;
  }
}
