{% extends "panoramix/base.html" %}
{% block head_css %}
{{super()}}
<style>
.select2-container-multi .select2-choices {
  height: 70px; 
  overflow: auto;
}
</style>
{% endblock %}
{% block content %}
<div class="container">
  <div class="col-md-3">
    <h3>
      {{ datasource.datasource_name }}
      <a href="/datasourcemodelview/edit/{{ datasource.id }}"><span class="glyphicon glyphicon-edit"></span></a>
    </h3>

    <hr>
    <form method="GET">
      <div>{{ form.viz_type.label }}: {{ form.viz_type(class_="form-control select2") }}</div>
      <div>{{ form.metrics.label }}: {{ form.metrics(class_="form-control select2") }}</div>
      <div>{{ form.granularity.label }}: {{ form.granularity(class_="form-control select2_free_granularity") }}</div>
      <div class="row">
        <div class="form-group">
          <div class="col-xs-6">{{ form.since.label }}: {{ form.since(class_="form-control select2_free_since") }}</div>
          <div class="col-xs-6">{{ form.until.label }}: {{ form.until(class_="form-control select2_free_until") }}</div>
        </div>
      </div>
      <div>{{ form.groupby.label }}: {{ form.groupby(class_="form-control select2") }}</div>
      <div>{{ form.limit.label }}: {{ form.limit(class_="form-control select2") }}</div>
      <hr>
      <h4>Filters</h4>
      <div id="filters">
        {% for i in range(10) %}
          <div id="flt{{ i }}" class="{{ "hidden" if i != 1 }}">
              <span class="" style="width: 100px;">{{ form['flt_col_' ~ i](class_="form-control select2 inc") }}</span>
            <div class="row">
              <span class="col col-md-3">{{ form['flt_op_' ~ i](class_="form-control select2 input-sm inc") }}</span>
              <span class="col col-md-7">{{ form['flt_eq_' ~ i](class_="form-control inc") }}</span>
              <button type="col col-md-2" class="btn btn-sm" aria-label="Delete filter">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
              </button>
            </div>
            <hr/>
          </div>
        {% endfor %}
      </div>
      <button type="button" id="plus" class="btn btn-sm" aria-label="Add a filter">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
      <hr>
      <input type="submit" class="btn btn-primary" value="Druidify!">
      <hr style="margin-bottom: 0px;">
      <img src="{{ url_for("static", filename="panoramix.png") }}" width=250>
    </form><br>
  </div>

  <div class="col-md-9">
    <h3>{{ viz.verbose_name }}</h3>
    <hr/>
    {% block viz %}
    {% endblock %}

    {% if debug %}
    <h3>Results</h3>
    <pre>
      {{ results }} 
    </pre>

    <h3>Latest Segment Metadata</h3>
    <pre>
               {{ latest_metadata }} 
    </pre>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block tail_js %}
{{ super() }}
<script>
$( document ).ready(function() {
  $(".select2").select2();

  function create_choices (term, data) { 
      if ($(data).filter(function() { 
          return this.text.localeCompare(term)===0; 
      }).length===0) 
      {return {id:term, text:term};} 
  }
  $(".select2_free_since").select2({
      createSearchChoice: create_choices,
      multiple: false,
      data: [
        {id: '-1 hour', text: '-1 hour'},
        {id: '-12 hours', text: '-12 hours'},
        {id: '-1 day', text: '-1 day'},
        {id: '-7 days', text: '-7 days'},
        {id: '-28 days', text: '-28 days'},
        {id: '-90 days', text: '-90 days'},
        {id: '{{ form.data.since }}', text: '{{ form.data.since }}'},
      ]
  });
  $(".select2_free_until").select2({
      createSearchChoice: create_choices,
      multiple: false,
      data: [
        {id: '{{ form.data.until }}', text: '{{ form.data.until }}'},
        {id: 'now', text: 'now'},
        {id: '-1 day', text: '-1 day'},
        {id: '-7 days', text: '-7 days'},
        {id: '-28 days', text: '-28 days'},
        {id: '-90 days', text: '-90 days'},
      ]
  });
  $(".select2_free_granularity").select2({
      createSearchChoice: create_choices,
      multiple: false,
      data: [
        {id: '{{ form.data.granularity }}', text: '{{ form.data.granularity }}'},
        {id: '5 seconds', text: '5 seconds'},
        {id: '30 seconds', text: '30 seconds'},
        {id: '1 minute', text: '1 minute'},
        {id: '5 minutes', text: '5 minutes'},
        {id: '1 day', text: '1 day'},
        {id: '7 days', text: '7 days'},
      ]
  });
});
</script>
{% endblock %}
