{% extends "panoramix/datasource.html" %}
{% block viz %}
    <div id="chart"></div>
{% endblock %}

{% block extra_fields %}
  {% if form.compare %}
    <div>{{ form.compare.label }}: {{ form.compare(class_="form-control") }}</div>
  {% endif %}
  {% if form.compare %}
    <div class="row">
      <span  class="col col-sm-5">{{ form.rolling_type.label }}: {{ form.rolling_type(class_="form-control select2") }}</span>
      <span class="col col-sm-4">{{ form.rolling_periods.label }}: {{ form.rolling_periods(class_="form-control") }}</span>
    </div>
  {% endif %}
{% endblock %}

{% block tail %}
{{ super() }}
{% if viz.chart_type == "stock" %}
<script src="{{ url_for("static", filename="highstock.js") }}"></script>
{% else %}
<script src="{{ url_for("static", filename="highcharts.js") }}"></script>
{% endif %}
<script>
$( document ).ready(function() {
    Highcharts.setOptions({
        colors: [
            "#FF5A5F", "#007A87", "#7B0051", "#00D1C1", "#8CE071", "#FFB400",
            "#FFAA91", "#B4A76C", "#9CA299", "#565A5C"
        ],
        global: {
          useUTC: false
        },
    });
    $("#viz_type").click(function(){
        $("#queryform").submit();
    })
    {% if chart_js %}
        {{ chart_js|safe }}
    {% endif %}
});
</script>
{% endblock %}
