{% extends "appbuilder/baselayout.html" %}

  {% block head_css %}
    <link rel="icon" type="image/png" href="/static/assets/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="/static/assets/stylesheets/caravel.css" />
    {{super()}}
  {% endblock %}

  {% block head_js %}
    {{super()}}
    {% with filename="css-theme" %}
      {% include "caravel/partials/_script_tag.html" %}
    {% endwith %}
  {% endblock %}

  {% block tail_js %}
    {{super()}}
    {% with filename="common" %}
      {% include "caravel/partials/_script_tag.html" %}
    {% endwith %}
  {% endblock %}
