<html>
  <body>
    <div
      class="dashboard container-fluid"
      data-dashboard="{{ dashboard.json_data }}"
      data-css="{{ dashboard.css }}"
      data-user="{{ user_id }}"
    >
      {% include 'caravel/flash_wrapper.html' %}

      <!-- Modal -->
      <div class="modal fade" id="css_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content css">
            <div class="modal-body">
              <textarea id="dash_css" rows="30" cols="60">{{ dashboard.css }}</textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="title">
        <div class="row">
          <h1>
            <strong>
              {{ dashboard.dashboard_title }}
            </strong>
          </h1>
        </div>
      </div>

      <!-- gridster class used for backwards compatibility -->
      <div id="grid-container" class="slice-grid gridster"></div>

    </div>
  </body>
  {% with filename="css-theme" %}
    {% include "caravel/partials/_script_tag.html" %}
  {% endwith %}
  {% with filename="dashboard" %}
    {% include "caravel/partials/_script_tag.html" %}
  {% endwith %}
</html>
