{% extends "caravel/basic.html" %}

{% block title %}
  {% if slice_name %}
    [slice] {{ slice_name }}
  {% else %}
    [explore] {{ table_name }}
  {% endif %}
{% endblock %}

{% block body %}
  <link rel="stylesheet" type="text/css" href="/static/assets/stylesheets/explorev2/explorev2.css">
  <div
    id="js-explore-view-container"
    data-bootstrap="{{ bootstrap_data }}"
  ></div>
{% endblock %}

{% block tail_js %}
  {{ super() }}
  {% with filename="explorev2" %}
    {% include "caravel/partials/_script_tag.html" %}
  {% endwith %}
{% endblock %}
