{% extends "caravel/basic.html" %}

{% block head_js %}
  {{ super() }}
  {% with filename="welcome" %}
    {% include "caravel/partials/_script_tag.html" %}
  {% endwith %}
{% endblock %}

{% block title %}{{ _("Welcome!") }}{% endblock %}

{% block body %}
<div class="container-fluid">
  {% include 'caravel/flash_wrapper.html' %}
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">Your Starred Dashboards and Slices</div>
        </div>
        <div class="panel-body">
          <div id="js-faves-table"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="row">
              <div class="col-md-4">
                {{ _("All Dashboards") }}
              </div>
              <div class="col-md-8">
                <div class="search-container pull-right">
                  <i class="fa fa-search"></i>
                  <span class="search"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <img class="loading" src="/static/assets/images/loading.gif"/>
          <table id="dash_table" class="table" width="100%"></table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

