{% extends "caravel/basic.html" %}

{% block head_js %}
{{ super() }}
<script src="/static/assets/javascripts/dist/welcome.entry.js"></script>
{% endblock %}

{% block title %}{{ _("Welcome!") }}{% endblock %}

{% block body %}
<div class="container welcome">
  <div class="header">
    <h3>{{ _("Welcome!") }}</h3>
  </div>
  <hr/>
  <div id="cal-heatmap"></div>
  <hr/>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-12">
              <span class="pull-left">
                <h5><i class="fa fa-dashboard"></i> {{ _("Dashboards") }}</h5>
              </span>
              <span class="search pull-right"></span>
              <span class="pull-right">
                <h5><i class="fa fa-search"></i></h5>
              </span>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <img class="loading" src="/static/assets/images/loading.gif"/>
          <table id="dash_table" class="table table-condensed" width="100%"></table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-12">
              <span class="pull-left">
                <h5><i class="fa fa-bar-chart"></i> {{ _("Slices") }}</h5>
              </span>
              <span class="search pull-right"></span>
              <span class="pull-right">
                <h5><i class="fa fa-search"></i></h5>
              </span>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <img class="loading" src="/static/assets/images/loading.gif"/>
          <table id="slice_table" class="table table-condensed" width="100%"></table>
        </div>
      </div>
    </div>
  </div>
</div>
 <hr/>
{% endblock %}

