/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@import '../../../../../../stylesheets/less/variables.less';

.option-label {
  display: inline-block;
  & ~ i {
    margin-left: 4px;
  }
}

.type-label {
  margin-right: 8px;
  width: 30px;
  display: inline-block;
  text-align: center;
  font-weight: @font-weight-bold;
}

.adhoc-filter-edit-tabs > .nav-tabs {
  margin-bottom: 8px;

  & > li > a {
    padding: 4px;
  }
}

.edit-popover-resize {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  float: right;
  margin-top: 18px;
  margin-right: -10px;
  cursor: nwse-resize;
}

#filter-edit-popover {
  max-width: none;
}

.filter-edit-clause-dropdown {
  width: 120px;
  margin-right: 5px;
}

.filter-edit-clause-info {
  font-size: @font-size-xs;
  padding-left: 5px;
}

.filter-edit-clause-section {
  display: inline-flex;
}

.adhoc-filter-sql-editor {
  border: @gray-light solid thin;
}

.adhoc-filter-simple-column-dropdown {
  margin-top: 20px;
}

.custom-sql-disabled-message {
  color: @gray;
  font-size: @font-size-xs;
  text-align: center;
  margin-top: 60px;
}
