@mixin grid-3-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@mixin grid-2-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    @include grid-3-columns;
    margin-bottom: 15px;
}

.header .title span {
    color: #754383;
    display: block;
}

.header .title span:nth-child(1) {
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: lowercase;
}

.header .title span:nth-child(2) {
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.header .title span:nth-child(3) {
    font-size: 12px;
    letter-spacing: 3px;
    text-align: right;
}

.boletim-coronavirus {
    align-items: center;
    display: flex;
}

.logo-boletim {
    margin-right: 15px;
    width: 100px;
}

.date-wrapper {
    align-items: center;
    display: flex;
}

.date-wrapper img {
    width: 45px;
}

.date-wrapper span {
    background-color: #754383;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    color: #fff;
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    position: relative;
    right: 3px;
    text-align: center;
    width: 100%;
}

.plantao-duvidas {
    background-color: #c73433;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 10px;
    padding: 15px;
    place-items: center;
    position: relative;
    text-align: center;
}

.plantao-duvidas span:first-child {
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.plantao-duvidas .phone {
    font-size: 1.65em;
    font-weight: bold;
}

.logo-boletim img,
.logo-govpb img {
    width: 100%;
}

.logo-govpb {
    font-size: 12px;
    place-self: center;
    text-align: center;
    text-transform: uppercase;
    width: 250px;
}

.logo-govpb img {
    margin-bottom: 10px;
}

.casos {
    @include grid-2-columns();
}

.casos .num {
    font-size: 4em;
    font-weight: bold;
}

.casos .label {
    font-size: 1.3em;
    text-align: left;
    width: 90px;
}

.box {
    align-items: center;
    border: 1px solid #bcbcbc;
    border-radius: 15px;
    color: #636363;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 15px;
    text-align: center;
}

.box:nth-child(odd) {
    margin-right: 5px;
}

.box:nth-child(even) {
    margin-left: 5px;
}

.box .num {
    margin-right: 10px;
}

.box.confirmados .num,
.box.confirmados-cidade .num {
    color: #754383;
}

.box.recuperados .num {
    color: #37ab7a;
}

.box.descartados .num {
    color: #c73433;
}

.box.confirmados-cidade {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.box.confirmados-cidade .num {
    font-size: 1.4em;
}

.table-leitos {
    border-radius: 15px;
    background-color: #754383;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 5px;
    padding: 15px;
    text-transform: uppercase;
}

.table-leitos .table-header {
    font-size: 1.3em;
    letter-spacing: 2px;
}

.table-leitos .table-header span {
    opacity: .5;
}

.table-leitos .table-header img {
    margin-right: 10px;
    opacity: .5;
    width: 40px;
}

.table-leitos .table-row {
    @include grid-3-columns;
    border-bottom: 1px solid #fff;
    color: #fff;
    text-align: center;
}

.table-leitos .table-row:last-child {
    border-bottom: none;
}

.table-leitos .table-row .cell {
    align-items: center;
    border-right: 1px solid #fff;
    display: flex;
    justify-content: center;
    padding: 15px 5px;
}

.table-leitos .table-row .cell:last-child {
    border-right: none;
}

.table-leitos .table-content {
    font-size: 1.3em;
}

.table-leitos .table-content .cell:first-child {
    justify-content: flex-start;
}