body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

span {
  font-weight: bold;
}

code {
  display: inline-block;
  margin-top: 5px;
  border: 1px #999 solid;
  padding: 5px;
}
