To: $receiver_email
From: $sender_email
Subject: [VOTE] Release $project_name $version based on Superset $version_rc

Hello $project_name Community,

This is a call for the vote to release Apache $project_name
(incubating) version $version.

The release candidate:
https://dist.apache.org/repos/dist/dev/incubator/$project_module/$version_rc/

Git tag for the release:
https://github.com/apache/incubator-$project_module/tree/$version_rc

The Change Log for the release:
https://github.com/apache/incubator-$project_module/blob/$version_rc/CHANGELOG.md

public keys are available at:

https://www.apache.org/dist/incubator/$project_module/KEYS

The vote will be open for at least 72 hours or until the necessary number
of votes are reached.

Please vote accordingly:

[ ] +1 approve
[ ] +0 no opinion
[ ] -1 disapprove with the reason

Thanks,
The Apache $project_name (Incubating) Team
