/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
.select2-highlighted > .filter_box {
    background-color: transparent;
    border: 1px superset black;
}

.dashboard .filter_box .slice_container > div:not(.alert) {
    padding-top: 0;
}

.input-inline {
    float: left;
    display: inline-block;
    padding-right: 3px;
}

ul.select2-results li.select2-highlighted div.filter_box {
    color: black;
    border-width: 1px;
    border-style: solid;
    border-color: #666;
}

ul.select2-results div.filter_box {
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
}
.filter_box {
    padding: 10px 0;
    overflow: visible !important;
}
.filter_box:hover {
    z-index: 1000;
}
.m-b-5 {
    margin-bottom: 5px;
}
.filter-container {
    display: flex;
}
.filter-container label {
    display: flex;
    font-weight: bold;
    margin: 0 0 8px 8px;
}
.filter-container .filter-badge-container {
    width: 30px;
    padding-right: 10px;
}
.filter-container .filter-badge-container + div {
    width: 100%;
}
