{% extends "appbuilder/baselayout.html" %}

{% block head_css %}
{{super()}}
<link rel="shortcut icon" href="{{ url_for('static', filename='chaudron.png') }}" />
<link rel="stylesheet" type="text/css" href="/static/panoramix.css" />
<link rel="stylesheet" type="text/css" href="/static/lib/jquery-ui/jquery-ui.min.css" />
{% endblock %}

{% block tail_js %}
{{ super() }}
<script src="/static/panoramix.js"></script>
<script src="/static/lib/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/lib/select2.sortable.js"></script>
{% endblock %}
