{% extends "panoramix/base.html" %}

{% block head_css %}
    {{ super() }}
    {% for css in dashboard.css_files %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=css) }}">
    {% endfor %}
    <link rel="stylesheet" href="{{ url_for('static', filename="jquery.gridster.min.css") }}">
    {% for slice in dashboard.slices %}
      {% set viz = slice.viz %}
      {% import viz.template as viz_macros %}
      {{ viz_macros.viz_css(viz) }}
    {% endfor %}
{% endblock %}

{% block content_fluid %}
<div class="dashboard">
<div class="title">
    <div class="text-middle">
      <h2>
        {{ dashboard.dashboard_title }}
        <div class="btn-group pull-right" role="group" >
          <a id="editdash" class="btn btn-default" href="/dashboardmodelview/edit/{{ dashboard.id }}">
                <i class="fa fa-edit"></i>
            </a>
            <button type="button" id="savedash" class="btn btn-default">
              <i class="fa fa-save"></i>
            </button>
        </div>
      </h2>
    </div>
</div>
<div class="gridster content_fluid">
    <ul>
        {% for slice in dashboard.slices %}
          {% set pos = pos_dict.get(slice.id, {}) %}
          {% set viz = slice.viz %}
          {% import viz.template as viz_macros %}
          <li
              id="slice_{{ slice.id }}"
              slice_id="{{ slice.id }}"
              data-row="{{ pos.row or 1 }}"
              data-col="{{ pos.col or loop.index }}"
              data-sizex="{{ pos.size_x or 4 }}"
              data-sizey="{{ pos.size_y or 4 }}">
              <table class="widget_header">
                <tbody>
                  <tr>
                    <td class="icons">
                      <nobr class="icons">
                        <a><i class="fa fa-arrows drag"></i></a>
                        <a class="refresh"><i class="fa fa-refresh"></i></a>
                      </nobr>
                    </td>
                    <td>
                      <div class="text-center header"><nobr>{{ slice.slice_name }}</nobr></div>
                    </td>
                    <td class="icons text-right">
                      <nobr>
                      <a href="{{ slice.slice_url }}"><i class="fa fa-play"></i></a>
                      <a href="{{ slice.edit_url }}"><i class="fa fa-gear"></i></a>
                      <a class="closewidget"><i class="fa fa-close"></i></a>
                      </br>
                    </td>
                  </tr>
                </tbody>
              </table>
              {{ viz_macros.viz_html(viz) }}
          </li>
        {% endfor %}
    </ul>
</div>
</div>
{% endblock %}

{% block tail %}
    {{ super() }}
    {% for js in dashboard.js_files %}
        <script src="{{ url_for('static', filename=js) }}"></script>
    {% endfor %}
    <script src="/static/jquery.gridster.with-extras.min.js"></script>
    <script>
      $(document).ready(initializeDashboardView);
    </script>
    {% for slice in dashboard.slices %}
      {% set viz = slice.viz %}
      {% import viz.template as viz_macros %}
      {{ viz_macros.viz_js(viz) }}
    {% endfor %}
{% endblock %}
