{% extends "panoramix/base.html" %}

{% block head_css %}
    {{ super() }}
    {% for css in dashboard.css_files %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=css) }}">
    {% endfor %}
    <link rel="stylesheet" href="{{ url_for('static', filename="lib/gridster/jquery.gridster.min.css") }}">
    <style id="user_style" type="text/css">
      {{ dashboard.css }}
    </style>
    {% for slice in dashboard.slices %}
      {% set viz = slice.viz %}
      {% import viz.template as viz_macros %}
      {{ viz_macros.viz_css(viz) }}
    {% endfor %}
{% endblock %}

{% block content_fluid %}
<div class="dashboard">

<!-- Modal -->
<div class="modal fade" id="css_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Dashboard CSS</h4>
      </div>
      <div class="modal-body">
        <textarea id="dash_css" rows="30" cols="60">
          {%- if dashboard.css %}
            {{- dashboard.css }}
          {% else %}
/*
body {
    background: #F00;
}
*/
          {% endif %}
        </textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="title">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h2>
          {{ dashboard.dashboard_title }}
        </h2>
      </div>
      <div class="col-md-2">
        <div class="btn-group pull-right" role="group" >
          <button type="button" id="css" class="btn btn-default" data-toggle="modal" data-target="#css_modal">
            <i class="fa fa-code"></i>
          </button>
          <a id="editdash" class="btn btn-default" href="/dashboardmodelview/edit/{{ dashboard.id }}">
              <i class="fa fa-edit"></i>
          </a>
          <button type="button" id="savedash" class="btn btn-default">
            <i class="fa fa-save"></i>
          </button>
        </div>
      </div>
    </div>
</div>
<div class="gridster content_fluid">
    <ul>
        {% for slice in dashboard.slices %}
          {% set pos = pos_dict.get(slice.id, {}) %}
          {% set viz = slice.viz %}
          {% import viz.template as viz_macros %}
          <li
              id="slice_{{ slice.id }}"
              slice_id="{{ slice.id }}"
              class="widget {{ slice.viz.viz_type }}"
              data-slice="{{ slice.json_data }}"
              data-row="{{ pos.row or 1 }}"
              data-col="{{ pos.col or loop.index }}"
              data-sizex="{{ pos.size_x or 4 }}"
              data-sizey="{{ pos.size_y or 4 }}">
              <table class="slice_header">
                <tbody>
                  <tr>
                    <td class="icons">
                      <nobr class="icons">
                        <a><i class="fa fa-arrows drag"></i></a>
                        <a class="refresh"><i class="fa fa-refresh"></i></a>
                      </nobr>
                    </td>
                    <td>
                      <div class="text-center header"><nobr>{{ slice.slice_name }}</nobr></div>
                    </td>
                    <td class="icons text-right">
                      <nobr>
                      <a href="{{ slice.slice_url }}"><i class="fa fa-play"></i></a>
                      <a href="{{ slice.edit_url }}"><i class="fa fa-gear"></i></a>
                      <a class="closeslice"><i class="fa fa-close"></i></a>
                      </br>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div id="{{ viz.token }}" class="token" style="height: 100%;">
                <img src="{{ url_for("static", filename="img/loading.gif") }}" class="loading" alt="loading">
                <div class="slice_container" style="height: 100%; width: 100%;">{{ viz_macros.viz_html(viz) }}</div>
              </div>
          </li>
        {% endfor %}
    </ul>
</div>
</div>
{% endblock %}

{% block tail %}
    {{ super() }}
    {% for js in dashboard.js_files %}
        <script src="{{ url_for('static', filename=js) }}"></script>
    {% endfor %}
    <script src="/static/lib/gridster/jquery.gridster.with-extras.min.js"></script>
    <script>
      $(document).ready(function() {
        px.initDashboardView({{ dashboard.id }})
        var dashboard = px.Dashboard();
      });
    </script>
    {% for slice in dashboard.slices %}
      {% set viz = slice.viz %}
      {% import viz.template as viz_macros %}
      {{ viz_macros.viz_js(viz) }}
    {% endfor %}
{% endblock %}
