{% extends "panoramix/base.html" %}

{% block head_css %}
  {{super()}}
  <link rel="stylesheet" type="text/css" href="/static/assets/vendor/dataTables/jquery.dataTables.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/assets/vendor/dataTables/dataTables.bootstrap.css" />
  <style type="text/css">
    .topsql {
      height: 250px;
    }
    .dataTables_filter {
      padding-top: 5px;
      padding-right: 5px;
    }
    .bordered {
      padding: 0px 0px;
      border: 1px solid grey;
      border-radius: 5px;
      background-color: #EEE;
    }
    div.alert {
      padding: 5px;
      margin: 0px;
    }
    .metadata {
      overflow: auto;
      width: 300px;
      height: 100px;
    }
    .fillup {
      width: 100%;
      height: 100%;
    }
    .fillheight {
      height: 100%;
    }
    .interactions {
      padding-bottom: 10px;
    }
    #results {
      overflow: auto;
      font-size: 12px;
      margin-bottom: 5px;
    }
    #results table tbody tr td{
      padding: 2px 4px;
    }

  </style>
{% endblock %}

{% block content %}
<div class="sqlcontent" style="display: none;">
  <h2>db: [{{ db }}]</h2>
  <div class="row interactions">
    <div class="col-xs-7 fillheight">
      <input type="hidden" id="database_id" value="{{ db.id }}">
      <button class="btn btn-primary" id="run">Run!</button>
      <button class="btn btn-default" id="create_view">Create View</button>
    </div>
    <div class="col-xs-5 fillheight">
      <select id="dbtable">
        {% for t in tables %}
          <option value="{{ t }}"
              {{ "selected" if t == table_name else '' }}>
            {{ t }}
          </option>
        {% endfor %}
      </select>
      <button class="btn btn-default" id="select_star">SELECT *</button>
    </div>
  </div>
  <div class="topsql row">
    <div class="col-xs-7 fillheight">
      <textarea id="sql" class="fillup"></textarea>
    </div>
    <div class="col-xs-5 fillheight">
      <div class="metadata fillup bordered"></div>
    </div>
  </div>
  <div id="interactive">
  </div>
  <div id="results_section">
    <hr/>
    <img id="loading" width="25" style="display: none;" src="/static/img/loading.gif">
  </div>
  <div>
    <div id="results" class="bordered" style="display: none;"></div>
  </div>
</div>
{% endblock %}

{% block tail_js %}
{{ super() }}
<script src="/static/assets/vendor/ace/ace.js"></script>
<script src="/static/assets/vendor/dataTables/jquery.dataTables.min.js"></script>
<script src="/static/assets/vendor/dataTables/dataTables.bootstrap.js"></script>
<script>
$(document).ready(function() {
  function getParam(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
    results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
  }
  function initSqlEditorView() {
    var database_id = $('#database_id').val();
    var editor = ace.edit("sql");
    editor.$blockScrolling = Infinity
    editor.getSession().setUseWrapMode(true);

    var textarea = $('#sql').hide();
    editor.setTheme("ace/theme/crimson_editor");
    editor.setOptions({
        minLines: 16,
        maxLines: Infinity,
    });
    editor.getSession().setMode("ace/mode/sql");
    editor.focus();
    $("select").select2({dropdownAutoWidth : true});
    function showTableMetadata() {
      $(".metadata").load(
        '/panoramix/table/' + database_id + '/' + $("#dbtable").val()  + '/');
    }
    $("#dbtable").on("change", showTableMetadata);
    showTableMetadata();
    $("#create_view").click(function(){alert("Not implemented");});
    $(".sqlcontent").show();
    $("#select_star").click(function(){
      $.ajax('/panoramix/select_star/' + database_id + '/' + $("#dbtable").val()  + '/')
        .done(function(msg){
          editor.setValue(msg);
        });
    });
    editor.setValue(getParam('sql'));
    $(window).bind("popstate", function(event) {
      // Browser back button
      var returnLocation = history.location || document.location;
      // Could do something more lightweight here, but we're not optimizing
      // for the use of the back button anyways
      editor.setValue(getParam('sql'));
      $("#run").click();
    });
    $("#run").click(function() {
      $('#results').hide(0);
      $('#loading').show(0);
      history.pushState({}, document.title, '?sql=' + encodeURIComponent(editor.getValue()));
      $.ajax({
        type: "POST",
        url: '/panoramix/runsql/',
        data: {
          'data': JSON.stringify({
          'database_id': $('#database_id').val(),
          'sql': editor.getSession().getValue(),
        })},
        success: function(data) {
          $('#loading').hide(0);
          $('#results').show(0);
          $('#results').html(data);

          var datatable = $('table.sql_results').DataTable({
            paging: false,
            searching: true,
            aaSorting: [],
          });
        },
        error: function(err, err2) {
          $('#loading').hide(0);
          $('#results').show(0);
          $('#results').html(err.responseText);
        },
      });
    });
  }
  initSqlEditorView();
});
</script>
{% endblock %}
