{% import viz.template as viz_macros %}

{% if viz.form_data.get("json") == "true" %}
  {{ viz.get_json() }}
{% else %}
  {% if viz.form_data.get("standalone") == "true" %}
    {% extends 'panoramix/viz_standalone.html' %}
  {% else %}
    {% extends 'panoramix/datasource.html' %}
  {% endif %}


  {% block viz_html %}
    {{ viz_macros.viz_html(viz) }}
  {% endblock %}

  {% block head_css %}
      {{super()}}
      {% if viz.form_data.get("skip_libs") != "true" %}
          {% for css in viz.css_files %}
              <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=css) }}">
          {% endfor %}
      {% endif %}
      {{ viz_macros.viz_css(viz) }}
  {% endblock %}


  {% block tail %}
      {{super()}}
      {% if viz.form_data.get("skip_libs") != "true" %}
          {% for js in viz.js_files %}
              <script src="{{ url_for('static', filename=js) }}"></script>
          {% endfor %}
      {% endif %}
      {{ viz_macros.viz_js(viz) }}
  {% endblock %}
{% endif %}
