{% macro viz_html(viz) %}
<div id="{{ viz.token }}" style="height:100%; width: 100%">
  <img src="{{ url_for("static", filename="img/loading.gif") }}" class="loading">
  <div class="chart with-3d-shadow with-transitions" style="height:100%; width: 100%"></div>
</div>
{% endmacro %}

{% macro viz_js(viz) %}
<script>
  $(document).ready(function() {
    viz_nvd3(
      "{{ viz.token }}",
      "{{ viz.get_url(json="true")|safe }}"
    );
  });
</script>
{% endmacro %}

{% macro viz_css(viz) %}
{% endmacro %}
