{% macro viz_html(viz) %}
    <div id="chart" style="height:100%; width:100%;"></div>
{% endmacro %}

{% macro viz_js(viz) %}
    <script>
    $( document ).ready(function() {
        Highcharts.setOptions({
            colors: [
                "#FF5A5F", "#007A87", "#7B0051", "#00D1C1", "#8CE071", "#FFB400",
                "#FFAA91", "#B4A76C", "#9CA299", "#565A5C"
            ],
            global: {
              useUTC: false
            },
        });
        $("#viz_type").click(function(){
            $("#queryform").submit();
        })
        {% if viz.chart_js %}
            {{ viz.chart_js|safe }}
        {% endif %}
    });
    </script>
{% endmacro %}

{% macro viz_css(viz) %}
{% endmacro %}
