{% macro viz_html(viz) %}
  {% if viz.request.args.get("async") == "true" %}
  {{ viz.get_df().to_html(na_rep='', classes="dataframe table table-striped table-bordered table-condensed")|safe }}

  {% else %}
  <div id="{{ viz.token }}" style="display: none;overflow: auto; height: 100%;"></div>
  <img src="{{ url_for("static", filename="img/loading.gif") }}" class="loading">
  {% endif %}
{% endmacro %}

{% macro viz_js(viz) %}
  {% if viz.form_data.get("async") != "true" %}
  <script>
  $( document ).ready(function() {
    var url = "{{ viz.get_url(async="true", standalone="true", skip_libs="true")|safe }}";
    var token = $("#{{ viz.token }}");
    token.load(url, function(response, status, xhr){
      if(status=="error"){
        var err = '<div class="alert alert-danger">' + xhr.responseText  + '</div>';
        token.html(err);
        token.show();
      }
      else{
        {% if viz.form_data.get('groupby') and viz.form_data.get('groupby')|length == 1 %}
          var table = token.find('table').DataTable({
            paging: false,
            searching: false,
          });
          table.column('-1').order( 'desc' ).draw();
        {% endif %}
      }
      token.show();
      token.parent().find("img.loading").hide();
    });
  });
  </script>
  {% endif %}
{% endmacro %}

{% macro viz_css(viz) %}
{% endmacro %}
