{#
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
#}
{% extends 'appbuilder/general/model/edit.html' %}

{% block tail_js %}
  {{ super() }}
  <script>
    var db = document.getElementById("con");
    var schema = document.getElementById("schema");

    // this element is a text input
    // copy it here so it can be reused later
    var any_schema_is_allowed = schema.cloneNode();

    update_schemas_allowed_for_csv_upload(db.value);
    db.addEventListener("change", function(){
        update_schemas_allowed_for_csv_upload(db.value);
    });

    function update_schemas_allowed_for_csv_upload(db_id) {
        const request = new XMLHttpRequest();
        request.open("GET", "/superset/schemas_access_for_csv_upload?db_id=" + db_id, true);
        request.onload = function () {
            if (this.status == 200) {
                change_schema_field_in_formview(JSON.parse(request.responseText));
            }
        };
        request.onerror = function () {
            var errorMsg = request.responseText;
            alert("ERROR: " + errorMsg);
        };
        request.send();
    }

    function change_schema_field_in_formview(schemas_allowed){
        if (schemas_allowed && schemas_allowed.length > 0) {
	    var dropdown_schema_lists = document.createElement("select");
	    dropdown_schema_lists.setAttribute("id", "schema");
	    dropdown_schema_lists.setAttribute("name", "schema");
	    dropdown_schema_lists.setAttribute("required", "required");
            schemas_allowed.forEach(function(schema_allowed) {
	      var option = document.createElement("option");
	      option.setAttribute("value", schema_allowed);
	      option.appendChild(document.createTextNode(schema_allowed));
	      dropdown_schema_lists.appendChild(option);
            });
            schema.replaceWith(dropdown_schema_lists);
        } else {
            schema.replaceWith(any_schema_is_allowed)
        }
    }
  </script>
{% endblock %}
