# Required for OAuth
authlib==0.15.4

# Required for our custom logger
python-json-logger==2.0.2

# Additional drivers for Superset (or SQLAlchemy) to use
# uncomment and update release number when pr https://github.com/dungdm93/sqlalchemy-trino/pull/22 is merged.
# sqlalchemy-trino==0.3.0
# In the meantime, use following line
git+https://github.com/cccs-mmrouet/sqlalchemy-trino.git@feature/timestamp-fix
mysql-connector-python==8.0.26
elasticsearch-dbapi==0.2.4
