# Required for OAuth
authlib==0.15.4

# Required for our custom logger
python-json-logger==2.0.2

# Additional drivers for Superset (or SQLAlchemy) to use
sqlalchemy-trino>=0.4.0
mysql-connector-python==8.0.26
elasticsearch-dbapi==0.2.4
trino>=0.310.0