html,
body,
#root {
  height: 100%;
  font-family: BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-weight: 200;
  color: #484848;
}
#root > div {
  padding: 8px;
}

#root > div.superset-body {
  background: #f5f5f5;
  padding: 16px;
  min-height: 100%;
}
#root > div.superset-body .panel {
  margin-bottom: 0;
}
