/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
.dashboard {
  position: relative;
  color: @almost-black;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* only top-level tabs have popover, give it more padding to match header + tabs */
.dashboard > .with-popover-menu > .popover-menu {
  left: 24px;
}

/* drop shadow for top-level tabs only */
.dashboard .dashboard-component-tabs {
  box-shadow: 0 4px 4px 0 fade(@darkest, @opacity-light);
  padding-left: 8px; /* note this is added to tab-level padding, to match header */
}

.dropdown-toggle.btn.btn-primary .caret {
  color: @lightest;
}

.background--transparent {
  background-color: transparent;
}

.background--white {
  background-color: @lightest;
}
