apiVersion: v1
data:

  auth-kerberized.sh: |-
    #!/bin/sh
    
    principalKey=`klist -tke /etc/security/keytabs/{{ superset_hive_keytab_name }} | grep '@' | awk -F' ' '{print $4}'|head -1`
    kinit -kt /etc/security/keytabs/{{ superset_hive_keytab_name }} $principalKey

  docker-init.sh: |- 
    #!/usr/bin/env bash

    set -ex

      echo "Initializing database"
      superset db upgrade

      echo "Creating default roles and permissions"
      superset init

    # To start a development web server, use the -d switch
    
      gunicorn --bind  0.0.0.0:{{ SUPERSET_CONTAINER_PORT }} \
          --workers $((2 * {{ SUPERSET_NPROCESSORS }} + 1)) \
          -k gevent \
          --timeout {{ SUPERSET_SERVER_WORKER_TIMEOUT }} \
          --limit-request-line 0 \
          --limit-request-field_size 0 \
          superset:app  

kind: ConfigMap
metadata:
  name: superset-configmap
  namespace: {{ superset_kube_namespace }}
