apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    service: superset
  name: superset
  namespace: {{ superset_kube_namespace }}
spec:
  ports:
  - name: "superset-service"
    protocol: TCP
    port: {{ superset_service_port }}
    targetPort: {{ superset_nginx_port }}
    nodePort: {{ superset_service_port }}
  selector:
    service: superset
  type: NodePort  
status:
  loadBalancer: {}
