{
  "name": "{{ id }}",
  "version": "{{ version }}",
  "main": "dist/main.js",
  "types": "dist/publicAPI.d.ts",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1",
    "start": "webpack serve --mode development",
    "build": "webpack --stats-error-details --mode production"
  },
  "keywords": [],
  "private": true,
  "author": "",
  "license": "{{ license }}",
  "description": "",
  "peerDependencies": {
    "@apache-superset/core": "file:../../../superset-frontend/packages/superset-core",
    "react": "^17.0.2",
    "react-dom": "^17.0.2"
  },
  "devDependencies": {
    "@babel/preset-react": "^7.26.3",
    "@babel/preset-typescript": "^7.26.0",
    "@types/react": "^19.0.10",
    "copy-webpack-plugin": "^13.0.0",
    "install": "^0.13.0",
    "npm": "^11.1.0",
    "ts-loader": "^9.5.2",
    "typescript": "^5.8.2",
    "webpack": "^5.98.0",
    "webpack-cli": "^6.0.1",
    "webpack-dev-server": "^5.2.0"
  }
}
