.main-text {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

.small_table {
    width: 170px;
}

#data-title{
    font-size: 20px;
}

#dataset-table {
    border-bottom: 1px solid #dddddd;
}
