/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
.superset-list-view {
  .filter-dropdown {
    margin-top: 20px;
  }

  .filter-column {
    height: 30px;
    padding: 5px;
    font-size: 16px;
  }

  .filter-close {
    height: 30px;
    padding: 5px;

    i {
      font-size: 20px;
    }
  }

  .table-row-loader {
    animation: shimmer 2s infinite;
    background: linear-gradient(
      to right,
      #f6f7f8 0%,
      #edeef1 20%,
      #f6f7f8 40%,
      #f6f7f8 100%
    );
    background-size: 1000px 100%;

    span {
      visibility: hidden;
    }
  }

  .actions {
    font-size: 20px;
    white-space: nowrap;
  }

  .action-button {
    margin: 0 8px;
  }

  .table-cell {
    word-break: break-all;
  }
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }

  100% {
    background-position: 1000px 0;
  }
}
