{% extends 'appbuilder/init.html' %}
{% import 'appbuilder/baselib.html' as baselib %}

{% block head_css %}
  {{super()}}
  <link rel="shortcut icon" href="/static/refactor/images/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/static/refactor/vendor/jquery-ui/jquery-ui.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/refactor/stylesheets/panoramix.css" />

  <!-- Replace with custom bootstrap theme -->
  <link rel="stylesheet" type="text/css" href="/static/refactor/stylesheets/themes/bootswatch.paper.min.css" />
  <!-- <link rel="stylesheet" type="text/css" href="/static/refactor/stylesheets/themes/panoramix-bootstrap-theme.css" /> -->
{% endblock %}

{% block body %}
    {% include 'appbuilder/general/confirm.html' %}
    {% include 'appbuilder/general/alert.html' %}

  {% block navbar %}
    <header class="top" role="header">
      {% include 'appbuilder/navbar.html' %}
    </header>
  {% endblock %}

  {% block uncontained %}{% endblock %}

  <div class="container">
    <div class="row">
      {% block messages %}
        {% include 'appbuilder/flash.html' %}
      {% endblock %}
      {% block content %}{% endblock %}
    </div>
  </div>
  <div class="container-fluid">
    {% block content_fluid %}{% endblock %}
  </div>

{% endblock %}

{% block tail_js %}
  {{ super() }}
  <!-- @TODO get this to shim correctly with a require('jquery-ui') -->
  <script src="/static/refactor/vendor/jquery-ui/jquery-ui.min.js"></script>
  <script src="/static/refactor/javascripts/dist/base.entry.js"></script>
{% endblock %}
