.babelrc
.eslintcache
.eslintignore
.eslintrc.js
.idea
.npm
.npmrc
.prettierignore
.yarnclean

*.log
*.map
*.min.js

build/
coverage/
esm/
jest.config.js
lib/
logs/
node_modules/
package-lock.json
prettier.config.js
yarn.lock
