.babelrc
.cache
.DS_Store
.eslintcache
.eslintignore
.eslintrc.js
.idea
.npm
.prettierignore
.yarnclean

*.log
*.map
*.min.js

babel.config.js
build/
coverage/
esm/
jest.config.js
lib/
logs/
node_modules/
package-lock.json
prettier.config.js
tsconfig.json
yarn.lock
