#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

POSTGRES_HOST=<<host.docker.internal>> if using ssh or <<xx.xxx.xx.xx>> or whatever the endpoint is
SUPERSET_ADMIN_USER_SECRET=<<superset_admin_credentials>> The key where your secrets are held. Secrets provider agnostic
SUPERSET_DB_USER_SECRET=<<superset_user>> The key where your secrets are held. Secrets provider agnostic
SUPERSET_ENV=development
SECRETS_PROVIDER=aws (only aws implemented as of 8/19
AWS_ACCESS_KEY_ID=<<ASDFASDFASDF>>
AWS_SECRET_ACCESS_KEY=<<ASDFASDFASDFASDFASDFASDFASDFASDF>> (presumably GCP, Azure, etc creds would live here as well
AWS_REGION=us-west-2 (AWS specific)
FLASK_APP=superset:app