POSTGRES_HOST=<<host.docker.internal>> if using ssh or <<xx.xxx.xx.xx>> or whatever the endpoint is
SUPERSET_ADMIN_USER_SECRET=<<superset_admin_credentials>> The key where your secrets are held. Secrets provider agnostic
SUPERSET_DB_USER_SECRET=<<superset_user>> The key where your secrets are held. Secrets provider agnostic
SUPERSET_ENV=development
SECRETS_PROVIDER=aws (only aws implemented as of 8/19
AWS_ACCESS_KEY_ID=<<ASDFASDFASDF>>
AWS_SECRET_ACCESS_KEY=<<ASDFASDFASDFASDFASDFASDFASDFASDF>> (presumably GCP, Azure, etc creds would live here as well
AWS_REGION=us-west-2 (AWS specific)
FLASK_APP=superset:app