{% extends "dashed/basic.html" %}

{% block head_js %}
{{ super() }}
<script src="/static/assets/javascripts/dist/welcome.entry.js"></script>
{% endblock %}

{% block title %}Welcome!{% endblock %}

{% block body %}
<div class="container welcome">
  <div class="header">
    <h3><i class='fa fa-star'></i> Welcome!</h3>
  </div>
  <hr/>
  <div id="cal-heatmap"></div>
  <hr/>
  <div class="row">
    <div class="col-md-6">
      <div class="widget">
        <div class="header"><h4><i class="fa fa-dashboard"></i> Dashboards</h4></div>
        <div>
          <table id="dash_table" class="table"></table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="widget">
        <div class="header"><h4><i class="fa fa-bar-chart"></i> Slices</h4></div>
        <div>
          <table id="slice_table" class="table"></table>
        </div>
      </div>
    </div>
  </div>
</div>
 <hr/>
{% endblock %}

