<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url('https://preview.pixlr.com/images/800wm/100/1/1001450383.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

div {
	width: 500px;
	height: 100px;
	background-color:transparent;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}
</style>
</head>
<body>
    <div class="">
        <form class="" action="dash" method="POST">
            X - axis name:
            <input type="text" name="variable_X" value="">
            <br>
            Y - axis name:
            <input type="text" name="variable_Y" value="">
            <br>
            <input type="submit" name="" value="Submit">
        </form>
    </div>

</body>
</html>
