body {
    padding-top: 0px;
}

div.navbar {
    margin-bottom: 0px;
}

p {
    margin-top: 5px;
    margin-bottom: 15px;
}

#tutorial img {
    border: 1px solid gray;
    box-shadow: 5px 5px 5px #888888;
    margin-bottom: 10px;
}

#gallery img {
    border: 1px solid gray;
    box-shadow: 5px 5px 5px #888888;
    margin: 10px;
}

.carousel img {
  max-height: 500px;
}
.carousel {
  overflow: hidden;
  height: 500px;
}
.carousel-caption h1 {
  font-size: 80px;
}
.carousel-caption p {
  font-size: 20px;
}
div.carousel-caption{
  background: rgba(0,0,0,0.5);
  border-radius: 20px;
  top: 150px;
  bottom: auto !important;
}
.carousel-inner > .item > img {
  margin: 0 auto;
}
{
  margin: -20px;
}
.carousel-indicators li {
  background-color: #AAA;
  border: 1px solid black;
}

.carousel-indicators .active {
  background-color: #000;
  border: 5px solid black;
}
