name: Check Secrets

on:
  workflow_call:
    inputs:
      secret_name:
        required: true
        type: string
    outputs:
      has-secrets:
        type: string
        value: ''

jobs:
  check-secrets:
    runs-on: ubuntu-latest
    outputs:
      has-secrets: ${{ steps.check.outputs.has-secrets }}
    steps:
      - id: check
        run: |
          if [[ -n "${{ secrets[inputs.secret_name] }}" ]]; then
            echo "has-secrets=true" >> "$GITHUB_OUTPUT"
            echo "Secret for ${{ inputs.secret_name }} is available"
          else
            echo "Secret for ${{ inputs.secret_name }} is NOT available"
          fi
