name: Gitleaks Scan

on:
  pull_request:
    branches:
      - master
      - main
      - test-branch

jobs:
  gitleaks:
    runs-on: basic-k8s-runner

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          path: featureBranchFolder
        continue-on-error: true

      - name: check aws identity
        id: test_branch
        run: |
          aws sts get-caller-identity

      - name: Get Default Branch Name
        id: default_branch
        run: |
          cd featureBranchFolder
          DEFAULT_BRANCH=${{ github.event.repository.default_branch }}
          echo "Default branch: $DEFAULT_BRANCH"
          echo "defaultBranch=${DEFAULT_BRANCH}" >> $GITHUB_OUTPUT

      - name: Checkout GitLeaks-Integration repository
        uses: actions/checkout@v3
        with:
          repository: careemsecurity/GitLeaks-Integration
          ref: master
          path: GitLeaks-Integration
          token: ${{ secrets.GITLEAKS_TOKEN }}
        continue-on-error: true

      - name: Moving the GitLeaks-Integration folder out of target repository 
        run: |
          pwd
          if [ -d "../GitLeaks-Integration" ]; then
            rm -r "../GitLeaks-Integration"
            echo "Existing Directory Cleaned"
          else
            echo "Directory does not exist, can be moved"
          fi
          mv GitLeaks-Integration ../GitLeaks-Integration
          echo "Directory moved"
        continue-on-error: true

      - name: Check if baseline file exists
        id: check-baseline
        run: |
          cd ../GitLeaks-Integration
          if [ ! -f "Baselines/$(basename ${{ github.repository }})-base.json" ]; then
            echo "Baseline file does not exist"
            echo "generate-baseline=true" >> $GITHUB_OUTPUT
          else
            echo "Baseline file exists"
            echo "generate-baseline=false" >> $GITHUB_OUTPUT
          fi
        continue-on-error: true

      - name: Pull Gitleaks Docker image
        run: sudo docker pull zricethezav/gitleaks:v8.16.4
        continue-on-error: true

      - name: Checkout target repository from master branch
        uses: actions/checkout@v3
        with:
          ref: ${{ steps.default_branch.outputs.defaultBranch }}
          path: masterBranchFolder
        continue-on-error: true

      - name: Run gitleaks detect (generate baseline)
        run: |
          if [ ! -f "../GitLeaks-Integration/Config/gitleaks.toml" ]; then
            echo "Error: Config file not found"
            exit 1
          elif [[ "${{ steps.check-baseline.outputs.generate-baseline }}" == 'true' ]]; then 
            echo "Generating Baseline file.."
            pwd
            cd masterBranchFolder
            sudo docker run --rm -u $(id -u):$(id -g) -v "$(pwd)/../../GitLeaks-Integration:/integration" -v "$(pwd):/source" zricethezav/gitleaks:v8.16.4 --verbose detect \
            --no-git \
            -s /source \
            -r integration/Baselines/$(basename ${{ github.repository }})-base.json \
            -c integration/Config/gitleaks.toml
          else
            echo "Baseline file exists, skipping this step.."
          fi
        continue-on-error: true

      - name: Run gitleaks detect (new findings)
        id: delta-scan
        run: |
          cd featureBranchFolder
          sudo docker run --rm -u $(id -u):$(id -g) -v "$(pwd)/../../GitLeaks-Integration:/integration" -v "$(pwd):/source" zricethezav/gitleaks:v8.16.4 --verbose detect \
          --no-git \
          -s /source \
          -b integration/Baselines/$(basename ${{ github.repository }})-base.json \
          -r integration/Diffs/$(basename ${{ github.repository }})-diff.json \
          -c integration/Config/gitleaks.toml
        continue-on-error: true

      - name: Set up python environment
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install -r ../GitLeaks-Integration/JIRA-Integration/requirements.txt

      - name: Report findings using JIRA-Integration
        run: python3 ../GitLeaks-Integration/JIRA-Integration/TicketCreator.py ../GitLeaks-Integration/Diffs/$(basename ${{ github.repository }})-diff.json
        env:
          SERVICE_DIRECTORY_TOKEN: ${{ secrets.SERVICE_DIRECTORY_TOKEN }}
          JIRA_TOKEN: ${{ secrets.JIRA_TOKEN }}
        continue-on-error: true

      - name: Run gitleaks detect (update the baseline from feature branch)
        run: |
          echo "Generating Baseline file.."
          pwd
          cd featureBranchFolder
          sudo docker run --rm -u $(id -u):$(id -g) -v "$(pwd)/../../GitLeaks-Integration:/integration" -v "$(pwd):/source" zricethezav/gitleaks:v8.16.4 --verbose detect \
          --no-git \
          -s /source \
          -r integration/Baselines/$(basename ${{ github.repository }})-base.json \
          -c integration/Config/gitleaks.toml
        continue-on-error: true

      - name: Push Baseline and Diff files
        run: |
          cd ../GitLeaks-Integration
          git config user.name github-actions
          git config user.email github-actions@github.com
          git pull origin master
          git add Baselines/$(basename ${{ github.repository }})-base.json
          git add Diffs/$(basename ${{ github.repository }})-diff.json
          git commit -m "Update baseline and diff files"
          git push origin master
        continue-on-error: true
