name: License Template Check

on:
  pull_request:
    types: [synchronize, opened, reopened, ready_for_review]

jobs:
  license_check:
    name: License Check
    runs-on: ubuntu-20.04
    steps:
      - name: "Checkout ${{ github.ref }} ( ${{ github.sha }} )"
        uses: actions/checkout@v3
        with:
          persist-credentials: false
          submodules: recursive
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin' # Specify the distribution here
          java-version: '11'       # Specify the Java version here
      - name: Run license check
        run: ./scripts/check_license.sh
