name: Frontend

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Install dependencies
      uses: apache-superset/cached-dependencies@b90713b
      with:
        run: npm-install
    - name: lint
      working-directory: ./superset-frontend
      run: |
        npm run lint
        npm run prettier-check
    - name: unit tests
      working-directory: ./superset-frontend
      run: |
        npm run test -- --coverage
    - name: Upload code coverage
      working-directory: ./superset-frontend
      run: |
        bash <(curl -s https://codecov.io/bash) -cF javascript

  docs:
    name: build
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Install dependencies
      working-directory: ./superset-frontend
      run: |
        npm install
    - name: gatsby build
      working-directory: ./superset-frontend
      run: |
        npm run build
