name: DOCKER

on: [push, pull_request]

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Run local registry
        run: docker run -d -p 5000:5000 registry:2

      - name: Build and push Docker images
        uses: docker/build-push-action@v1
        with:
          dockerfile: Dockerfile-dev
          registry: localhost:5000
          repository: temp/workflow
          tags: foo
