{% extends "appbuilder/baselayout.html" %}

  {% block head_css %}
    {{super()}}
    <link rel="icon" type="image/png" href="/static/assets/images/favicon.png">
    {% for entry in css_manifest('theme') %}
      <link rel="stylesheet" type="text/css" href="{{ entry }}" />
    {% endfor %}
  {% endblock %}

  {% block head_js %}
    {{super()}}
    {% for entry in js_manifest('theme') %}
      <script src="{{ entry }}"></script>
    {% endfor %}
  {% endblock %}

  {% block tail_js %}
    {{super()}}
    {% for entry in js_manifest('common') %}
      <script src="{{ entry }}"></script>
    {% endfor %}
  {% endblock %}
