{% extends "superset/basic.html" %}

{% block title %}
  {% if slc %}
    [slice] {{ slc.slice_name }}
  {% else %}
    [explore] {{ table_name }}
  {% endif %}
{% endblock %}

{% block body %}
  <link rel="stylesheet" type="text/css" href="/static/assets/stylesheets/exploreV2/exploreV2.css">
  <div
    id="js-explore-view-container"
    data-bootstrap="{{ bootstrap_data }}"
  ></div>
  <div id="modals">
        <div style="display: none" class="modal fade" id="newSlice"   role="dialog"   
        aria-labelledby="myModal"  aria-hidden="true" >  
          <div class="modal-dialog">  
              <div class="modal-content">  

                  <div class="modal-header">
                    <h4 class="modal-title" id="myModal">title</h4>
                  </div>

                  <div class="modal-body">
                      <iframe width="100%" height="100%" >

                      </iframe>
                  </div>
              </div>  
        </div>  
    </div>
</div>   

{% endblock %}

{% block tail_js %}
  {{ super() }}
  {% with filename="explorev2" %}
    {% include "superset/partials/_script_tag.html" %}
  {% endwith %}
{% endblock %}
