{% extends "appbuilder/base.html" %}

{% block title %}{{ _("Import dashboards") }}{% endblock %}

{% block content %}
  {% include "superset/flash_wrapper.html" %}

  <div class="container">
    <h1>Import dashboards</h1>

    <form method="post" enctype="multipart/form-data">
      <input
      type="hidden"
      name="csrf_token"
      id="csrf_token"
      value="{{ csrf_token() if csrf_token else '' }}" />
      <p>
        <label class="btn btn-default btn-sm" for="my-file-selector">
          <input
            id="my-file-selector"
            type="file"
            name="file"
            style="display:none;"
            onchange="$('#upload-file-info').html(this.files[0].name)"/>
          Choose File
        </label>
        <span class='label label-info' id="upload-file-info"></span>
        <br/>
        <br/>
        <input type="submit" value="Upload" class="btn btn-primary btn-sm" />
      </p>
    </form>
  </div>
{% endblock %}
