{#
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
#}
{% extends "appbuilder/base.html" %}

{% block title %}{{ _("Import dashboards") }}{% endblock %}

{% block content %}
  {% include "superset/flash_wrapper.html" %}

  <div class="container">
    <h1>Import dashboards</h1>

    <form method="post" enctype="multipart/form-data">
      <input
      type="hidden"
      name="csrf_token"
      id="csrf_token"
      value="{{ csrf_token() if csrf_token else '' }}" />
      <p>
        <label class="btn btn-default btn-sm" for="my-file-selector">
          <input
            id="my-file-selector"
            type="file"
            name="file"
            style="display:none;"
            onchange="$('#upload-file-info').html(this.files[0].name)"/>
          Choose File
        </label>
        <span class='label label-info' id="upload-file-info"></span>
        <br/>
        <br/>
        <input type="submit" value="Upload" class="btn btn-primary btn-sm" />
      </p>
    </form>
  </div>
{% endblock %}
